stages:
  - test
  - build

variables:
  IMAGE_NAME: "password-generator"

test:
  stage: test
  tags:
    - docker
    - germany
  image: python:3.11-alpine
  before_script:
    - apk add --no-cache gcc musl-dev linux-headers
    - pip install -r requirements.txt pytest pytest-cov
  script:
    - pytest -v --cov=app
  coverage: '/TOTAL.*\s+(\d+%)$/'
  only:
    - main
    - tags

build:
  stage: build
  tags:
    - docker
    - germany
  image: docker:20.10
  services:
    - docker:20.10-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
  script:
    - if [ -n "$CI_COMMIT_TAG" ]; then export VERSION="$CI_COMMIT_TAG"; export IS_RELEASE="true"; else export VERSION="dev-${CI_COMMIT_SHORT_SHA}"; export IS_RELEASE="false"; fi
    - echo "Version:" $VERSION
    - echo "Is Release:" $IS_RELEASE
    - docker build -t ${IMAGE_NAME}:${VERSION} .
    - if [ "$IS_RELEASE" = "true" ]; then docker tag ${IMAGE_NAME}:${VERSION} ${IMAGE_NAME}:latest; fi
    - docker images | grep ${IMAGE_NAME}
  only:
    - main
    - tags
