stages:
  - test
  - build

variables:
  IMAGE_NAME: "password-generator"

test:
  stage: test
  tags:
    - docker
    - germany
  image: python:3.11-alpine
  before_script:
    - apk add --no-cache gcc musl-dev linux-headers
    - pip install -r requirements.txt pytest pytest-cov
  script:
    - pytest -v --cov=app
  coverage: '/TOTAL.*\s+(\d+%)$/'
  only:
    - main

build:
  stage: build
  tags:
    - docker
    - germany
  image: docker:20.10
  services:
    - docker:20.10-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
  script:
    - docker build -t ${IMAGE_NAME}:latest .
    - docker images | grep ${IMAGE_NAME}
  only:
    - main
